name: Release update (Flow)

on:
  workflow_call:
    inputs:
      app_name:
        description: 'Application name'
        required: true
        type: string
      repo:
        description: 'Application repository name (org/repo format)'
        required: true
        type: string
      release_branch:
        description: 'Release branch to scan (e.g., R1-2025)'
        required: true
        type: string
      update_branch:
        description: 'Update branch name for this release branch (null/empty means direct update)'
        required: false
        type: string
        default: ''
      workflow_run_number:
        description: 'GitHub run number for display'
        required: true
        type: string
      dry_run:
        description: 'Perform dry run without creating PRs'
        required: false
        type: boolean
        default: false
      pr_reviewers:
        description: 'Comma-separated list of reviewers'
        required: false
        type: string
        default: ''
      pr_labels:
        description: 'Comma-separated list of labels'
        required: false
        type: string
        default: ''
    outputs:
      pr_created:
        description: 'Whether a PR was created'
        value: ${{ jobs.run.outputs.pr_created }}
      pr_number:
        description: 'PR number if created or updated'
        value: ${{ jobs.run.outputs.pr_number }}
      pr_url:
        description: 'PR URL if created or updated'
        value: ${{ jobs.run.outputs.pr_url }}
      successful_reviewers:
        description: 'Successfully added reviewers'
        value: ${{ jobs.run.outputs.successful_reviewers }}
      failed_reviewers:
        description: 'Failed to add reviewers'
        value: ${{ jobs.run.outputs.failed_reviewers }}
      updated:
        description: 'Whether the application was updated'
        value: ${{ jobs.run.outputs.updated }}
      updated_modules:
        description: 'List of updated modules'
        value: ${{ jobs.run.outputs.updated_modules }}
      new_version:
        description: 'New version of the application'
        value: ${{ jobs.run.outputs.new_version }}
      updates_cnt:
        description: 'Number of updates'
        value: ${{ jobs.run.outputs.updated_cnt }}
      workflow_status:
        description: 'Overall workflow status'
        value: ${{ jobs.run.outputs.workflow_status }}
      failure_reason:
        description: 'Reason for workflow failure if any'
        value: ${{ jobs.run.outputs.failure_reason }}

jobs:
  run:
    name: Run release update flow
    uses: ./.github/workflows/application-update-flow.yml
    with:
      app_name: ${{ inputs.app_name }}
      repo: ${{ inputs.repo }}
      branch: ${{ inputs.release_branch }}
      update_branch: ${{ inputs.update_branch }}
      need_pr: ${{ inputs.update_branch != '' }}
      workflow_run_number: ${{ inputs.workflow_run_number }}
      descriptor_build_offset: '0'
      rely_on_FAR: false
      mode: 'release'
      dry_run: ${{ inputs.dry_run }}
      use_github_app: true
      pr_reviewers: ${{ inputs.pr_reviewers }}
      pr_labels: ${{ inputs.pr_labels }}
    secrets: inherit
