name: Snapshot update (Flow)

on:
  workflow_call:
    inputs:
      app_name:
        description: 'Application name'
        required: true
        type: string
      repo:
        description: 'Application repository name (org/repo format)'
        required: true
        type: string
      branch:
        description: 'Branch to update'
        required: false
        type: string
        default: 'snapshot'
      workflow_run_number:
        description: 'GitHub run number for display'
        required: true
        type: string
      descriptor_build_offset:
        description: 'Offset to apply to application artifact version'
        required: false
        type: string
        default: '100100000000000'
      rely_on_FAR:
        description: 'Whether to rely on FAR for application descriptor dependencies'
        required: false
        type: boolean
        default: false
      mode:
        description: 'Update mode (snapshot | release)'
        required: false
        type: string
        default: 'snapshot'
      dry_run:
        description: 'Perform dry run without making changes'
        required: false
        type: boolean
        default: false
      use_github_app:
        description: 'Use GitHub App for authentication'
        required: false
        type: boolean
        default: false
    outputs:
      updated:
        description: 'Whether application was updated'
        value: ${{ jobs.run.outputs.updated }}
      previous_version:
        description: 'Previous application version'
        value: ${{ jobs.run.outputs.previous_version }}
      new_version:
        description: 'New application version if updated'
        value: ${{ jobs.run.outputs.new_version }}
      updated_cnt:
        description: 'Number of updated modules'
        value: ${{ jobs.run.outputs.updated_cnt }}
      updated_modules:
        description: 'List of updated modules'
        value: ${{ jobs.run.outputs.updated_modules }}
      failure_reason:
        description: 'Reason for failure'
        value: ${{ jobs.run.outputs.failure_reason }}
      commit_sha:
        description: 'Commit SHA'
        value: ${{ jobs.run.outputs.commit_sha }}
      app_descriptor_url:
        description: 'URL of generated application descriptor'
        value: ${{ jobs.run.outputs.app_descriptor_url }}
      app_descriptor_file_name:
        description: 'Name of generated application descriptor file'
        value: ${{ jobs.run.outputs.app_descriptor_file_name }}

jobs:
  run:
    name: Run snapshot update flow
    uses: ./.github/workflows/application-update-flow.yml
    with:
      app_name: ${{ inputs.app_name }}
      repo: ${{ inputs.repo }}
      branch: ${{ inputs.branch }}
      update_branch: ''
      need_pr: false
      workflow_run_number: ${{ inputs.workflow_run_number }}
      descriptor_build_offset: ${{ inputs.descriptor_build_offset }}
      rely_on_FAR: ${{ inputs.rely_on_FAR }}
      mode: ${{ inputs.mode }}
      dry_run: ${{ inputs.dry_run }}
      use_github_app: ${{ inputs.use_github_app }}
      pr_reviewers: ''
      pr_labels: ''
    secrets: inherit
