update_config:
  enabled: true
  update_branch_format: version-update/{0}
  labels:
    - version-update
  pr_reviewers:
    - folio-org/kitfox

branches:
  - snapshot:
      enabled: false
      need_pr: false
      pre_release: "only"
      descriptor_build_offset: "100100000000000"
      # rely_on_FAR: "false"